################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Latex4CorelDraw/v16
/bin/Debug/Latex4CorelDraw
/obj/Debug
